include ../color-description-block/color-description-block
include ../rectangle/rectangle

mixin row(options)
  -
    var colorClassName = options.color
    var description= options.description
    var value = options.value
  .row
    +rectangle(colorClassName)
    +color-description-block({description: description, value: value})
