body(class='page')
  .top-container
    include ../logo/logo.pug
    div(class='container left-container')
      include ../row/row.pug
      .break
      include ../row/row.pug
      .break
      include ../row/row.pug
      .break
      include ../row/row.pug
      .break
      include ../row/row.pug
      .break
      include ../row/row.pug
      .break
      include ../row/row.pug
      .break
