include ../row/row

body(class='page')
  .top-container
    include ../logo/logo.pug
    div(class='container left-container')
      +row({color:"rectangle_color_dark-shade-100", description: "Dark Shade 100%", value: "#1F2041"})
      .break
      +row({color:"rectangle_color_dark-shade-75", description: "Dark Shade 75%", value: "#1F2041"})
      .break
      +row({color:"rectangle_color_dark-shade-50", description: "Dark Shade 50%", value: "#1F2041"})
      .break
      +row({color:"rectangle_color_dark-shade-25", description: "Dark Shade 25%", value: "#1F2041"})
      .break
      +row({color:"rectangle_color_dark-shade-5", description: "Dark Shade 5%", value: "#1F2041"})
      .break
      +row({color:"rectangle_color_purple", description: "Purple", value: "#BC9CFF"})
      .break
      +row({color:"rectangle_color_green", description: "Green", value: "#6FCF97"})
      .break
