//COLORS
$color-dark100: #1F2041;
$color-dark75: rgba(31, 32, 65, 0.75);
$color-dark50: rgba(31, 32, 65, 0.5);
$color-dark25: rgba(31, 32, 65, 0.25);
$color-dark5: rgba(31, 32, 65, 0.05);
$color-purple: #BC9CFF;
$color-green: #6FCF97;
