@import "consts";

.top-container {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.left-container {
  margin-left: 71px;
  margin-top: 137px;
  margin-bottom: 145px;
}

.right-container {
  margin-left: 253px;
  margin-right: 45px;
  margin-top: 136.5px;
  height: 321px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.left-indent-30 {
  margin-left: 30px;
}

@import "./page/page";
@import "./rectangle/rectangle";
@import "./row/row";
@import "./color-description-block/color-description-block";
@import "./h-row/h-row";
@import "./header/header";
@import "./header-title/header-title";
@import "./logo/logo";
