@import "./_color_dark-shade-100/rectangle_color_dark-shade-100";
@import "./_color_dark-shade-75/rectangle_color_dark-shade-75";
@import "./_color_dark-shade-50/rectangle_color_dark-shade-50";
@import "./_color_dark-shade-25/rectangle_color_dark-shade-25";
@import "./_color_dark-shade-5/rectangle_color_dark-shade-5";
@import "./_color_purple/rectangle_color_purple";
@import "./_color_green/rectangle_color_green";
