include __description/color-description-block__description
include __value/color-description-block__value

mixin color-description-block(options)
  -
    var description = options.description
    var value = options.value
  div(class = 'color-description-block row__color-description-block')
    +color_description(description)
    br
    +color_value(value)
