@font-face {
  font-family: "MontserratRegular";
  src:  url("../fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.svg") format("svg"),
        url("../fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.ttf") format("ttf"),
        url("../fonts/Montserrat/Montserrat-Regular/Montserrat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MontserratBold";
  src:  url("../fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.svg") format("svg"),
        url("../fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.ttf") format("ttf"),
        url("../fonts/Montserrat/Montserrat-Bold/Montserrat-Bold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "QuicksandRegular";
  src:  url("../fonts/Quicksand/Quicksand-Regular/Quicksand-Regular.svg") format("svg"),
        url("../fonts/Quicksand/Quicksand-Regular/Quicksand-Regular.ttf") format("ttf"),
        url("../fonts/Quicksand/Quicksand-Regular/Quicksand-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: 'MontserratRegular', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.top-container {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 145px;
  margin-top: 136.5px;
  margin-bottom: 145px;
}

/*
.right-container {
  margin-right: 10%;
  margin-left: 25.2%;
  margin-bottom: 32%;
}
*/

.right-container {
  margin-left: 255px;
  margin-right: 45px;
  height: 321px;
}

.row {
  display: inline-flex;
  flex-direction: row;
  word-wrap: wrap;
}

.h1-row {
  margin-top: 1px;
  margin-left: 5px;
}

.h2-row {
    margin-top: 10%;
    margin-right: 42px;
}

.h3-row {
  margin-top: 8%;
}

.body-row {
  margin-top: 8%;
  margin-right: 25%;
}


.rectangle {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  border-radius: 6px;
}

.dark-shade-100 {
  background: #1F2041;
}

.dark-shade-75 {
  background: rgba(31, 32, 65, 0.75);
}

.dark-shade-50 {
  background: rgba(31, 32, 65, 0.5);
}

.dark-shade-25 {
  background: rgba(31, 32, 65, 0.25);
}

.dark-shade-5 {
  background: rgba(31, 32, 65, 0.05);
}

.purple {
  background-color: #BC9CFF;
}

.green {
  background-color: #6FCF97;
}

.color-description-block {
  margin-left: 40px;
  margin-top: 8.5px;
}

.color-description {
    font-family: 'MontserratBold', sans-serif;
    font-size: 19px;
    line-height: 28px;
    font-style: normal;
    font-weight: bold;
}

.color-value {
   font-family: 'MontserratRegular', sans-serif;
   font-size: 19px;
   line-height: 28px;
}

.break {
  flex-basis: 100%;
  height: 0;
}

h1 {
  font-family: 'MontserratBold', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #1F2041;
}

.h1-title {
  font-family: 'MontserratRegular', sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: rgba(31, 32, 65, 0.25);
  width: 37px;
  text-align: right;
}

h2 {
  font-family: 'MontserratBold', sans-serif;
  font-weight: bold;
  font-size: 19px;
  line-height: 22.5px;
  color: #1F2041;
}

.h2-title {
  font-family: 'MontserratRegular', sans-serif;
  font-size: 19px;
  font-weight: normal;
  line-height: 23px;
  color: rgba(31, 32, 65, 0.25);
  text-align: right;
  width: 37px;
}

h3 {
  font-family: 'MontserratBold', sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.h3-title {
  font-family: 'MontserratRegular', sans-serif;
  font-size: 12px;
  color: rgba(31, 32, 65, 0.25);
  text-align: right;
  width: 37px;
}

.body-title {
  color: rgba(31, 32, 65, 0.25);
  text-align: right;
  width: 37px;
}

.inline {
  display: inline;
}

.left-indent-38 {
  margin-left: 30px;
}
